@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Galada:100,200,300,400,500,600,700');

/*--------------------header--------------------*/

.headerlogo{
    margin: auto;
    width: 100%;
    text-align: center;
    background-image: url("/media/images/monkees.jpg");
    border-radius: 10px;
}

.logo{
    max-width:100%;
    height: auto;
    border-radius: 50%;
    padding: 5px;
}

.band-members{
    margin: auto;
    width: 100%;
    text-align: center;
    background-color: #0000FF;
}

.bandpictures{
    max-width: 13%;
    border-radius: 50%;
    border: 1px solid #ddd;
    padding: 5px;
}



/*--------------------navigaton--------------------*/

.flex-containerhome{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color:#0000ff;
}

.flex-containerhome div {
    padding: 10px;
}

.menuitem a{
    font-family:"Robtoto", sans-serif;
    font-size: 30px;
    color: #fafafa;
    text-decoration: none;
}

.menuitem a:hover{
    color: #ff0000;
}

.menuitem a:active{
    color: #F5F5DC;
}

.fa{
    padding-right: 20px;
    padding-left: 20px;
}

/*--------------------Content--------------------*/

/*--------------------Content home--------------------*/

.homeheader{
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}



.maincontent{
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 37px;
    width: 75%;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: left;
}

.mainparagraph{
    text-align:center;
}

/*--------------------Content Tourdates--------------------*/

.toursection{
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

.column-tour {
    float: left;
    width: 25%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column-tour h2{
    font-family:"Galada", cursive;
    font-size: 40px;
    margin-left: 100px;
}

.column-tour li{
    font-family:"Roboto", sans-serif;
    font-size: 35px;
}

.column-tour ul{
    list-style-type: none;
    padding-bottom: 10px;
    margin-left: 60px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}




/*--------------------Content Discography--------------------*/

.musicsection{
    text-align: center;
    margin-left: 50px;
    margin-right: 50px
}

.musicparagraph{
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 37px;
    width: 75%;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: left;
}

.column-disco{
    float: left;
    width: 25%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column-disco h2{
    font-family:"Galada", cursive;
    font-size: 40px;
}

.column-disco li{
    font-family:"Roboto", sans-serif;
    font-size: 25px;
}

.column-disco ul{
    list-style-type: none;
    padding-bottom: 10px;
}

.albumpictures{
    width: 100%;
}


/*--------------------Content Booking--------------------*/

.booksection{
    text-align: center;
    margin-left: 50px;
    margin-right: 50px
}

.bookparagraph{
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 37px;
    width: 75%;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: left;
}

.form{
    width: 75%;
    margin-left: 100px;
    margin-bottom: 75px;
}

.firstnametext{
    font-family:"Roboto", sans-serif;
    font-weight: 100;
    font-size: 25px;
}

#firstname{
    width:28%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:10px;
}

.lastnametext{
    font-family:"Roboto", sans-serif;
    font-weight: 100;
    font-size: 25px;
}

#lastname{
    width:28%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:10px;
}

.subjecttext{
    font-family:"Roboto", sans-serif;
    font-weight: 100;
    font-size: 25px;
}

#subject{
    width:28%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:10px;
}

.yourmessagetext{
    font-family:"Roboto", sans-serif;
    font-weight: 100;
    font-size: 25px;
}

#yourmessage{
    width:50%;
    height: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:10px;
    resize: none;
}

input[type=submit]{
    font-family:"Galada", cursive;
    font-size: 35px;
    background-color: #4CAF50;
    width: 25%;
    height: 50px;
    margin-top: 25px;
}


/*--------------------footer--------------------*/

.footer{
    width: 100%;
    height: 125px;
    padding-top: 15px;
    padding-bottom: 25px;
    font-family:"Roboto", sans-serif;
    font-size: 15px;
    text-align: center;
    background-color: #0000FF;
    color: #fafafa;
}

.footer a{
    color: #fafafa;
    font-size: 35px;
}



/*--------------------general styling--------------------*/

@media screen and (max-width: 750px){#bandmembers{display:none;}}
@media screen and (max-width: 395px){#menuicons{display:none;}}
@media screen and (max-width: 600px) {.heading{font-size: 30px}}
@media screen and (max-width: 600px) {.maincontent{font-size: 20px}}
@media screen and (max-width: 600px) {.musicparagraph{font-size: 20px}}
@media screen and (max-width: 600px) {.bookparagraph{font-size: 20px}}

.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #fafafa;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 50px;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
    font-family:"Roboto", sans-serif;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

h1{
    margin: 0;
}

.heading{
    font-family:"Galada", cursive;
    font-weight: 300;
    font-size: 50px;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
}

@media screen and (max-width: 800px) {.column-tour {width: 100%;}}
@media screen and (min-width: 801px) {.column-tour {width: 50%;}}
@media screen and (max-width: 800px) {.column-disco {width: 100%;}}
@media screen and (min-width: 801px) {.column-disco {width: 50%;}}
@media screen and (max-width: 478px) {#breadcrumb{display:none;}}