@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Galada:100,200,300,400,500,600,700');

/*--------------------header--------------------*/



.headerlogo{
    margin: auto;
    width: 100%;
    text-align: center;
    background-image: url("/media/images/monkees.jpg");
    border-radius: 10px;
}

.logo{
    max-width:100%;
    height: auto;
    border-radius: 50%;
    padding: 5px;
}

.band-members{
    margin: auto;
    width: 100%;
    text-align: center;
    background-color: #0000FF;
}

.bandpictures{
    max-width: 100%;
    border-radius: 50%;
    border: 1px solid #ddd;
    padding: 5px;
}

/*--------------------navigaton--------------------*/

.flex-containerhome{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color:#0000ff;
}

.flex-containerhome div {
    padding: 10px;
}

.menuitem a{
    font-family:"Robtoto", sans-serif;
    font-size: 50px;
    color: #fafafa;
    text-decoration: none;
}

.menuitem a:hover{
    color: #ff0000;
}

.menuitem a:active{
    color: #F5F5DC;
}


/*--------------------body--------------------*/



/*--------------------Content--------------------*/

/*--------------------Content home--------------------*/

.homeheader{
    text-align: center;
}

.welcome{
    font-family:"Galada", cursive;
    font-weight: 300;
    font-size: 75px;
}

.maincontent{
    font-family:"Roboto", sans-serif;
    font-weight: 200;
    font-size: 50px;
}

.mainparagraph{
    text-align:center;
}

/*--------------------Content Tourdates--------------------*/

.toursection{
    text-align: center;
}

.tourheading{
    font-family:"Galada", cursive;
    font-weight: 300;
    font-size: 75px;
    padding-top: 0px;
}

.column-tour {
    float: left;
    width: 25%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column-tour h2{
    font-family:"Galada", cursive;
    font-size: 40px;
}

.column-tour li{
    font-family:"Roboto", sans-serif;
    font-size: 35px;
}

.column-tour ul{
    list-style-type: none;
    padding-bottom: 10px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}




/*--------------------Content Discography--------------------*/

.musicsection{
    text-align: center;
}

.musicheading{
    font-family:"Galada", cursive;
    font-weight: 300;
    font-size: 75px;
}

.column-disco {
    float: left;
    width: 33,33%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column-disco h2{
    font-family:"Galada", cursive;
    font-size: 40px;
}

.column-disco li{
    font-family:"Roboto", sans-serif;
    font-size: 25px;
}

.column-disco ul{
    list-style-type: none;
    padding-bottom: 10px;
}


/*--------------------Content Booking--------------------*/

.booksection{
    text-align: center;
}

.bookheading{
    font-family:"Galada", cursive;
    font-weight: 300;
    font-size: 75px;
}

/*--------------------footer--------------------*/



/*--------------------general styling--------------------*/

@media screen and (max-width: 750px){#bandmembers{display:none;}}
@media screen and (max-width: 395px){#menuicons{display:none;}}



l.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
    font-family:"Roboto", sans-serif;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

h1{
    margin: 0;
}

@media screen and (max-width: 800px) {.column-tour {width: 100%;}}
@media screen and (min-width: 801px) {.column-tour {width: 50%;}}
@media screen and (max-width: 800px) {.column-disco {width: 100%;}}
@media screen and (min-width: 801px) {.column-disco {width: 50%;}}
